<div id="qbhqNZjTLhpdzlcj" class="content active">
  <h1 data-path="/docs/welcome~welcome-to-packem">Welcome to Packem</h1>
<p>Packem is a compiled JavaScript module bundler built specifically to make development with Web tools an easy task. Packem is primarily written in Rust and thus gains many features like a strong type system, portable executables and a blazing fast concurrency model. What makes it unique is that most concepts of common JavaScript module bundlers (c. <a href="/">#01</a>) do not fit in which necessates a newer implementation of the same idea using different approaches while still maintaining the basics.</p>
  
</div>
