h2:hover a.permalink,
h3:hover a.permalink,
h4:hover a.permalink,
h5:hover a.permalink,
h6:hover a.permalink
{
  opacity: .5;
}

pre {
  border: 1px solid #e8e5e5;
}

code.language-text {
  font-weight: 500 !important;
}

#content > p:first-of-type {
  font-style: italic;
}

.image-caption {
  text-align: center;
  margin: 0 auto;
  font-style: italic;
}
